<div class="main-cont fifty lefty profile">

    <div class="about">

        <span class="name">L09</span>
        <span class="role">SUMO ROBOT EXTRAVAGANZA</span>
        <p class="description">A student group over at <a href="https://www.kth.se/">KTH</a> in Stockholm, making fat bots.</p>

        <!-- <ul class="contact">
            <li><a href="mailto:joakim.wimmerstedt@hyperisland.se">joakim.wimmerstedt@hyperisland.se</a></li>
            <li><a href="tel:+46723153420">+46 (0) 72 315 34 20</a></li>
        </ul> -->

        <ul class="external-links">
            <li>
                <a href="http://www.github.com/l09-sumo">
                    <img src="/assets/images/social/social-github-circular.svg" alt="Github">
                    <span class="hidden">Github</span>
                </a>
            </li>
        </ul>

    </div>

</div>
