<div class="main-cont fifty lefty profile">

    <div class="about">

        <a href="/" class="lego-wrap"><img class="lego" src="/assets/images/lego.svg" alt="Legotype"></img></a>

        <span class="name">L09</span>
        <span class="role">SUMO ROBOT EXTRAVAGANZA</span>
        <p class="description">A student group over at <a href="https://www.kth.se/">KTH</a> in Stockholm, making strong robots with the aim to win the sumo tournament.</p>

        <ul class="external-links">
            <li>
                <a href="http://www.github.com/l09-sumo">
                    <img src="/assets/images/social/social-github-circular.svg" alt="Github">
                    <span class="hidden">Github</span>
                </a>
            </li>
        </ul>

    </div>

</div>
